<div class="container"> 
  <%= form_for @dream do |f| %>
    <div class="form">
      <%= f.text_field :content, placeholder: @dream.content, class: "input-field col s6" %>
      <%= f.select :status, [["未実施", "0"], ["実施中", "1"], ["達成！", "2"]], selected: @dream.status_before_type_cast %>
      <div>
        <label>
          <%= f.check_box :opened, {}, "公開", "非公開" %>
          <span><%= f.label :公開 %></span>
        </label>
      </div>
      <%= f.submit :send, class: "waves-effect waves-light btn-small" %>
    </div>
  <% end %>
</div>