<div class="container edit-form">
  <%= form_for @dream do |f| %>
    <div class="form">
      <%= f.text_field :content, placeholder: @dream.content, class: "input-field col s6" %>
      <%= f.select :status, Dream.statuses.keys, selected: @dream.status %>
      <div>
        <label>
          <%= f.check_box :opened, {}, "公開", "非公開" %>
          <span><%= f.label :公開 %></span>
        </label>
      </div>
      <%= f.submit :send, class: "waves-effect waves-light btn-small" %>
    </div>
  <% end %>
</div>