<%= form_for @dream do |f| %>
  <div class="form">
  <%= @dream.opened %>
    <%= f.select :status, [["未実施", "未実施"], ["実施中", "実施中"], ["達成！", "達成！"]], selected: @dream.status %>
    <%= f.text_field :content, placeholder: @dream.content %>
    <%= f.check_box :opened %>
    <%= f.label :公開 %>
    <%= f.submit :send %>
  </div>
<% end %>

