<div class="container">
  <h4>ユーザー情報編集</h4>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> (変更しない場合は空欄)
      <% if @minimum_password_length %>
        (<%= @minimum_password_length %>文字以上)
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "パスワード(確認)" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password, "現在のパスワード" %><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "waves-effect waves-light btn-small" %>
    </div>
  <% end %>
  <br>

  <h4>アカウント削除</h4>

  <p>
    ご意見・ご要望は<%= link_to "こちら", "https://fumika-portfolio.firebaseapp.com/", target: :_blank %>まで
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "waves-effect waves-light btn-small" %>
  </p>