<tr>
<td>
  <%= dream.status %>
</td>
<td>
  <%= dream.content %>
</td>
<% if user_signed_in? && dream.user == current_user %>
  <td>
    <%= dream.opened %>
  </td>
  <td>
    <%= link_to "編集", "/dreams/#{dream.id}/edit" %>        
    <%= link_to "削除", "/dreams/#{dream.id}", method: :delete %>
  </td>
<% end %>
</tr>