<%= content_tag "tr", id: "dream-#{dream.id}", class: "item", data: { model_name: dream.class.name.underscore, update_url: dream_sort_path(dream)} do %>
  <td>
    <%= dream.status %>
  </td>
  <td>
    <%= dream.content %>
  </td>
  <td>
    <% if Like.find_by(user_id: current_user.id, dream_id: dream.id) %>
      <%= link_to "いいね取り消し", "/dreams/#{dream.id}/likes", method: :delete %>
      <%= dream.likes.length %>
    <% else %>
      <%= link_to "いいねする", "/dreams/#{dream.id}/likes", method: :post %>
      <%= dream.likes.length %>
    <% end %>
  </td>
  <% if user_signed_in? && dream.user == current_user %>
    <td>
      <%= dream.opened %>
    </td>
    <td>
      <%= link_to "編集", "/dreams/#{dream.id}/edit" %>        
      <%= link_to "削除", "/dreams/#{dream.id}", method: :delete, class: "delete_button", remote: true %>
    </td>
  <% end %>
<% end %>