<%= content_tag "tr", id: "dream-#{dream.id}", class: "item", data: { model_name: dream.class.name.underscore, update_url: dream_sort_path(dream)} do %>
  <td>
    <%= dream.status %>
  </td>
  <td>
    <%= dream.content %>
  </td>
  <%= content_tag "td", id: "like-#{dream.id}" do %>
    <%= render partial: "like", locals: { dream: dream } %>
  <% end %>
  <% if user_signed_in? && dream.user == current_user %>
    <td>
      <%= dream.opened %>
    </td>
    <td>
      <%= link_to "編集", "/dreams/#{dream.id}/edit" %>        
      <%= link_to "削除", "/dreams/#{dream.id}", method: :delete, class: "delete_button", remote: true %>
    </td>
  <% end %>
<% end %>