<p>
  <%= dream.status %>
  <%= dream.content %>
  <%= dream.opened %>
  <% if user_signed_in? && dream.user == current_user %>
    <%= link_to "編集", "/dreams/#{dream.id}/edit" %>        
    <%= link_to "削除", "/dreams/#{dream.id}", method: :delete %>
  <% end %>
</p>
