<table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row"><%= dream.status %></th>
      <td><%= dream.content %></td>
      <td><%= dream.opened %></td>
      <td><%= link_to "編集", root_path %></td>
      <td><%= link_to "削除", root_path %></td>
    </tr>
  </tbody>
</table>