<div class="container">
  <div class="user-top">
    <div class="user-top__left">
      <%= @user.name %>
      has <%= @user.dreams.length %> dreams.
    </div>
    <div vlass="user-top__right">
      円グラフ
    </div>
  </div>
  <% if @user == current_user %>
    <%= form_for @dream do |f| %>
      <div class="form">
        <%= f.text_field :content, placeholder: "What's your dream?" %>
        <%= f.check_box :opened %>
        <%= f.label :公開 %>
        <%= f.submit :send %>
      </div>
    <% end %>
  <% end %>

  <div class="lists">
    <%= render partial: 'dream', collection: @dreams %>
  </div>
</div>