<div class="container">
  <div class="user-top">
    <div class="user-top__left">
      <div class="user-top__left-name">
        <h5>
          <% if user_signed_in? && @user == current_user%>
            <%= link_to @user.name, edit_user_registration_path %>
          <% else %>
            <%= @user.name %>
          <% end %>
          has <span id="dream-length"><%= @user.dreams.length %></span> dreams.
        </h5>
      </div>
      <div class="user-top__left-form">
        <% if @user == current_user %>
          <%= form_for @dream do |f| %>
            <div class="form">
              <%= f.text_field :content, placeholder: "What's your dream?", class: "input-field col s6" %>
              <%= f.select :status, Dream.statuses.keys %>
              <div>
                <label>
                  <%= f.check_box :opened, {checked: true, checked_value: "1", unchecked_value: "0"} %>
                  <span><%= f.label :公開 %></span>
                </label>
              </div>
              <%= f.submit :send, class: "waves-effect waves-light btn-small" %>
              <%= link_to "csv出力", dreams_path(format: :csv), class: "csv-btn" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="user-top__right">
      <%= pie_chart @chart, width: "300px", height: "200px", colors: ["#e0e0e0", "#a5d6a7", "#f06292"] %>
    </div>
  </div>
  <div>
    <div class="lists">
      <table class="highlight table-sortable">
        <tbody id="dreams_list">
          <%= render partial: 'dream', collection: @dreams %>
        </tbody>
      </table>
    </div>
  </div>
</div>