<!DOCTYPE html>
<html>
  <head>
    <title>100dreams</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Noto+Serif+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <div class="header">
      <% if user_signed_in? %>
        <%= link_to about_dreams_path, class: "title" do %>
          <%= image_tag "100dreams-logo-white.png", size: "80x60" %>
        <% end %>
        <ul>
          <li><%= link_to "#{current_user.name}", user_path(current_user) %></li>
          <li><%= link_to "USERS", users_path %></li>
          <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
        <%= link_to root_path, class: "title" do %>
          <%= image_tag "100dreams-logo-white.png", size: "80x60" %>
        <% end %>
        <ul>
          <li><%= link_to "LOG IN", new_user_session_path %></li>
          <li><%= link_to "JOIN", new_user_registration_path %></li>
        </ul>
      <% end %>
    </div>
    <%= yield %>

    <script>
      $(document).ready(function(){
        $('select').formSelect();
      });
    </script>
  </body>
</html>
