<!DOCTYPE html>
<html>
  <head>
    <title>Dreams100</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <% if user_signed_in? %>
        <%= link_to "100DREAMS", user_path(current_user), class: "title" %>
        <ul>
          <li><%= link_to "USERS", users_path %></li>
          <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
        <%= link_to "100DREAMS", root_path, class: "title" %>
        <ul>
          <li><%= link_to "LOG IN", new_user_session_path %></li>
          <li><%= link_to "JOIN", new_user_registration_path %></li>
        </ul>
      <% end %>
    </div>
    <%= yield %>

    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  </body>
</html>
